<!-- Modal -->
<div
  class="modal fade"
  id="edit-category-modal"
  tabindex="-1"
  aria-labelledby="edit-category-modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-category-modal">Edit Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- custom http verb 'put' with npm method-override -->
      <form action="/admin/category?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control form-edit-category-name"
              id="name"
              name="name"
              placeholder="Mountain View"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <input type="text" name="id" class="form-edit-category-id" hidden />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
